title: "Spark + Hadoop + Hive on Docker"
description: "Production-grade OSS Spark/Hadoop/Hive on Docker ,aligned with the OSS Spark versions used by Databricks Runtime (DBR)"
theme: jekyll-theme-cayman
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed


